<div class="panel flex flex-row items-center status-bar">
  <span>Money: {{ ownedMoney|currency }}</span>
  @if (isDevMode()) {
  <button class="button" (click)="this.cheatAddMoney()">Add money</button>
  <button class="button" (click)="this.cheatAddLockers()">Buy all lockers</button>
  }
<div class="flex-1 flex flex-row space-x-2"></div>
  <button
    class="button"
    (click)="this.addLocker()">New locker ({{ this.newLockerPrice()|currency }})
  </button>
  <button
    class="button"
    (click)="this.addWarehouse()">New warehouse ({{ this.newWarehousePrice()|currency }})
  </button>
  @if (!this.upgradeService.isAutomaticModeAllowed()) {
  <button
    class="button"
    (click)="this.allowAutomaticMode()">Automatic mode ({{ this.automaticModePrice()|currency }})
  </button>
  }

</div>
