.map {
  position: relative;
  width: 1000px;
  height: 1000px;
  /*aspect-ratio: 3 / 2; !* lock ratio to 3:2 (same as 600x400) *!*/
}

.map-panel {
  background-color: var(--color3);
  overflow: scroll;
  height: 500px;
}

.truck {
  position: absolute;
  transform: translate(100%, 0%); /* center the square on the position */
  /*border: 1px solid #333;*/
  pointer-events: none;
  z-index: 10;
  background-color: var(--color1);
  border-radius: 0.3em;
  border: 1px solid rgba(0, 0, 0, 0.5);
  fill: var(--color4);
}

.locker {
  position: absolute;
  width: 24px;
  height: 24px;
  /*background-color: blue; !* truck marker *!*/
  /*transform: translate(-50%, -50%); !* center the square on the position *!*/
  /*border: 1px solid #333;*/
  /*border-radius: 50%;*/
  cursor: pointer;
}

.locker:hover .legend {
  z-index: 1000;
  background-color: var(--color4);
}
