<div class="panel locker-panel">
  <div class="header">{{ this.locker.location|uppercase }}</div>
  <div class="flex space-x-2">
    <div class="flex-1">
      <div class="flex flex-col space-y-1 panel slot-panel">
        @for (p of locker.parcels; track p.id) {
          <div class="slot">
            <app-parcel-row [parcel]="p"></app-parcel-row>
          </div>
        }
        @for (i of [].constructor(locker.slot - locker.parcels.length); track i) {
          <div class="slot border border-dashed inline-block"></div>
        }
        <button class="slot hover:border-solid cursor-pointer border border-dashed w-full inline-block"
                (click)="this.newLockerSlot()">New
          slot
          ({{ this.newSlotPrice()|currency }})
        </button>

      </div>
    </div>
    <div class="flex-1 flex flex-col items-stretch">
      @if (locker.trucks.length > 0) {
        <app-truck-row [truck]="locker.trucks[0]"></app-truck-row>
        @if (locker.trucks.length > 1) {
          <div>
            {{ locker.trucks.length - 1 }} other trucks waiting
          </div>
        }
      }
      @if (locker.warehouse) {
        <button
          class="button buy-truck-button"
          (click)="this.addTruck()">Buy Truck ({{ this.newTruckPrice()|currency }})
        </button>
      }
    </div>
  </div>
</div>
