<div class="border">
  {{ this.locker.location }} (Usage: {{ this.locker.parcels.length }}/{{ this.locker.slot }})
  ({{ this.locker.position.x| number : '1.2-2' }}, {{ this.locker.position.y| number : '1.2-2' }})<br/>
  <div class="flex">
    <div class="flex-1">
      <b>Slots</b>
      <ul>
        @for (p of locker.parcels; track p.id) {
          <li class="slot border min-w-60 min-h-10 inline-block">
            <app-parcel-row [parcel]="p"></app-parcel-row>
          </li>
        }
        @for (i of [].constructor(locker.slot - locker.parcels.length); track i) {
          <li class="slot border border-dashed min-w-60 min-h-10 inline-block"></li>
        }
        <li>
          <button class="slot hover:border-solid cursor-pointer border border-dashed min-w-60 min-h-10 inline-block" (click)="this.newLockerSlot()">New
            slot
            ({{ this.newSlotPrice()|currency }})
          </button>
        </li>
      </ul>
    </div>
    <div class="flex-1">
      @if (locker.trucks.length > 0) {
        <app-truck-row [truck]="locker.trucks[0]"></app-truck-row>
        @if (locker.trucks.length > 1) {
          <div>
            {{ locker.trucks.length - 1 }} other trucks waiting
          </div>
        }
      }
    </div>
  </div>
</div>
