<button (click)="this.transfer()" class="flex flex-row items-center parcel-row justify-between cursor-pointer">
  <span>
    #{{this.parcel.id}}
  @if (this.isOnTruckOnDestination()) {
    To: <strong>{{ this.getDestinationAsString() }}</strong>
  } @else {
    To: {{ this.getDestinationAsString() }}
  }
    </span>
  @if (!this.isOnDestination() && !this.isOnRoad()) {
    <button class="pointer-events-none ml-2 border rounded p-1">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 21 3 16.5m0 0L7.5 12M3 16.5h13.5m0-13.5L21 7.5m0 0L16.5 12M21 7.5H7.5" />
      </svg>

    </button>
  }
  @if (this.isOnDestination()) {
    [Waiting for customer]
    <button class="pointer-events-none ml-2 border rounded p-1">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
    </svg>
  </button>

  }
</button>
