<app-status-bar></app-status-bar>
<div class="flex flex-row">
  <div class="flex-1">
    @if (this.selectedLocker != undefined) {
      <app-locker-row [locker]="selectedLocker"></app-locker-row>
    }
<!--    <h2>Lockers</h2>-->
<!--    <ul>-->
<!--      @for (locker of lockersList; track locker.id) {-->
<!--        <li>-->
<!--          <app-locker-row [locker]="locker"></app-locker-row>-->
<!--        </li>-->
<!--      }-->
<!--    </ul>-->
  </div>
  <div class="flex-1">
<!--    <h2>Trucks on the road</h2>-->
<!--    <ul>-->
<!--      @for (t of onRoadTrucks; track t.id) {-->
<!--        <li>-->
<!--          <app-truck-row [truck]="t"></app-truck-row>-->
<!--        </li>-->
<!--      }-->
<!--    </ul>-->
    <app-map></app-map>

  </div>
</div>
